<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- SERVLETS CLIENTE -->

	<servlet>
		<servlet-name>IFacturaIntegradoClienteLogin</servlet-name>
		<servlet-class>dit.isst.ifactura.IFacturaIntegradoClienteLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IFacturaIntegradoClienteLogin</servlet-name>
		<url-pattern>/ifacturaIntegradoClienteLogin</url-pattern>
	</servlet-mapping>

	<!-- SERVLETS PROVEEDOR -->

	<servlet>
		<servlet-name>IFacturaIntegradoProveedorLogin</servlet-name>
		<servlet-class>dit.isst.ifactura.IFacturaIntegradoProveedorLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IFacturaIntegradoProveedorLogin</servlet-name>
		<url-pattern>/ifacturaIntegradoProveedorLogin</url-pattern>
	</servlet-mapping>
	<!-- WELCOME FILE -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
